Repository JellyNash/Bingo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @team-lead, @documentation-team, @architects, @backend-team, @game-logic-team, @realtime-team, @frontend-team, @design-team, @database-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS for Bingo Game System

# Global owners
* @team-lead

# Documentation
/docs/ @documentation-team
/README.md @documentation-team
*.md @documentation-team

# Core Architecture
/docs/architecture/ @architects
/contracts/ @architects

# Backend Services
/backend/api/ @backend-team
/backend/orchestrator/ @game-logic-team
/backend/realtime/ @realtime-team

# Frontend Applications
/apps/screen/ @frontend-team
/apps/console/ @frontend-team
/apps/player/ @frontend-team

# Design System
/apps/_design-tokens/ @design-team
/design/ @design-team

# Database
/db/ @database-team
*.prisma @database-team

# DevOps & Infrastructure
/docker-compose*.yml @devops-team
/Dockerfile @devops-team
/.github/workflows/ @devops-team
/observability/ @devops-team

# Security & Compliance
/docs/ops/fairness.md @security-team
*.env.example @security-team
/backend/api/src/plugins/auth.ts @security-team

# Build & Testing
/scripts/ @devops-team
Makefile @devops-team
*.spec.ts @qa-team
*.test.ts @qa-team

Fix critical DevOps issues identified in audit
  .dockerignore
  .github/workflows/ci.yml
  backend/api/.dockerignore
  backend/api/Dockerfile
  backend/realtime/.dockerignore
  docker-compose.yml
Owners: @team-lead, @devops-team, @backend-team, @realtime-team

Agent N: Analytics & Insights implementation complete (Gate 12)
  Makefile
  analytics/SCHEMA_REGISTRY.md
  analytics/schema/v1/_common.json
  analytics/schema/v1/api.request.json
  analytics/schema/v1/card.mark.json
  analytics/schema/v1/claim.result.json
  analytics/schema/v1/claim.submitted.json
  analytics/schema/v1/draw.next.json
  analytics/schema/v1/manifest.json
  analytics/schema/v1/socket.connect.json
  apps/console/src/main.tsx
  apps/player/src/main.tsx
  apps/screen/src/main.tsx
  apps/shared/analytics/analytics.test.ts
  apps/shared/analytics/index.ts
  apps/shared/analytics/storage.ts
  apps/shared/analytics/transport.ts
  apps/shared/analytics/types.ts
  backend/analytics/rollup.ts
  backend/api/.env.docker
  backend/api/prisma/schema.prisma
  backend/api/src/routes/analytics.ingest.ts
  backend/api/src/routes/index.ts
  backend/api/src/services/analytics.ts
  docker-compose.yml
  docs/ANALYTICS_GUIDE.md
Owners: @devops-team, @documentation-team, @team-lead, @frontend-team, @qa-team, @backend-team, @database-team

chore: harden realtime JWT verify; use shared Prisma in analytics; add CI fixes and Caddy headers snippet; improve .gitignore; add initial API tests (join/resume/draw/claim)
  .github/workflows/security.yml
  .gitignore
  backend/api/package.json
  backend/api/src/routes/analytics.ingest.ts
  backend/api/tests/integration/cards.claim.spec.ts
  backend/api/tests/integration/games.draw.spec.ts
  backend/api/tests/integration/join.spec.ts
  backend/api/tests/integration/resume.spec.ts
  backend/realtime/src/server.ts
  infra/caddy/snippets/security_headers.caddy
Owners: @devops-team, @team-lead, @backend-team, @qa-team, @realtime-team

fix(api): use rateLimit.enforce* in routes; add history rewrite guide and purge script; CI security headers snippet in place
  backend/api/src/routes/cards.claim.ts
  backend/api/src/routes/cards.mark.ts
  docs/history-rewrite.md
  scripts/history-rewrite/purge.sh
Owners: @backend-team, @documentation-team, @devops-team

fix(build): make API Dockerfile resilient to lockfile drift (use --no-frozen-lockfile) and remove deprecated compose version key
  backend/api/Dockerfile
  docker-compose.yml
Owners: @backend-team, @devops-team

fix(build): run tsc from bingo-api package dir (-p tsconfig.build.json)
  backend/api/Dockerfile
  backend/api/tsconfig.build.json
  backend/realtime/src/server.ts
Owners: @backend-team, @realtime-team

fix(screen): align media controller handler types with socket event signatures
  apps/screen/src/media/controller.ts
Owners: @frontend-team

fix(api): adjust logger calls to typed signature (use object param) to satisfy TS in Docker build
  backend/api/src/routes/analytics.ingest.ts
  backend/api/src/routes/gamemaster-audio-packs.ts
  backend/api/src/routes/games.audio-settings.ts
  backend/api/src/server.ts
Owners: @backend-team

fix(api): adjust remaining logger.error calls to object form to satisfy TS build in Docker
  backend/api/src/routes/games.audio-settings.ts
  backend/api/src/server.ts
Owners: @backend-team

fix(build): remove prisma dlx generate from runtime (version mismatch); rely on build-stage generate and @prisma/client postinstall
  backend/api/Dockerfile
Owners: @backend-team

fix(runtime): copy analytics manifest into API image; include Caddy snippets in web image
  Dockerfile.web
  backend/api/Dockerfile
Owners: @team-lead, @backend-team

fix(runtime): ESM-CJS interop for @prisma/client enums; update Caddy snippet placeholder and simplify TLS (remove duplicate matcher)
  backend/api/src/routes/gamemaster-audio-packs.ts
  backend/api/src/services/audio-manifest.validator.ts
  backend/api/src/services/audio-packs.service.ts
  infra/caddy/snippets/security_headers.caddy
Owners: @backend-team, @team-lead

fix(api): add type-only imports for Prisma enums; align ESM/CJS usage; update Caddy snippet placeholder
  backend/api/src/routes/gamemaster-audio-packs.ts
  backend/api/src/services/audio-manifest.validator.ts
  backend/api/src/services/audio-packs.service.ts
Owners: @backend-team

fix(build): resolve TS enum type errors using type-only imports; update Caddy TLS to avoid duplicate matcher; ensure analytics shipped in API image
  infra/caddy/Caddyfile
Owners: @team-lead

fix(ts): define REQUIRED_CUE_KEYS with literal keys + satisfies; add type aliases in service to resolve value-as-type errors
  backend/api/src/services/audio-manifest.validator.ts
  backend/api/src/services/audio-packs.service.ts
Owners: @backend-team

fix(ts): return mutable string[] from getRequiredCueKeys by spreading readonly arrays
  backend/api/src/services/audio-manifest.validator.ts
Owners: @backend-team

fix(build): compile API inside package (pnpm exec tsc -p tsconfig.build.json); Caddy: tls internal and {args[1]} placeholders; remove duplicate matcher
  backend/api/Dockerfile
  infra/caddy/Caddyfile
Owners: @backend-team, @team-lead
